.background{
    background-image: url(./svg/background.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.group1{
    display: flex;
    justify-content: space-between;
}
.group2{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 80px;
    margin-top: 8px;
}
.button1{
    height: 56px;
    width: 128px;
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 1px solid;
    color: white;
    border-radius: 3px;
}
.text1{
    margin-left: 100px;
    margin-top: 30px;
}
.text2{
    margin-left: 400px;

}
.text3{
    height: 13px;
    width: 63px;
    color: white;
}
.text4{
    height: 13px;
    width: 59px;
    color: white;
}
.text5{
    height: 16px;
    width: 45px;
    color: white;
}
.group3{
    margin-top: 210px;
    margin-left: 100px;
}
.grp1{
    font-size: 50px;
    color: white;
}
.grp2{
    font-size: 20px;
    color: white;
    margin-top: 30px;
}
.group4 {
    margin-top: 30px;
}
.input{
    height: 45px;
    width: 270px;
    margin-left: 100px;
}
.button2{
    background-color: rgb(42, 121, 211);
    border-radius: 3px;
    border-color: rgb(42, 121, 211);
    height: 50px;
    margin-left: 20px;
}
.background2{
    display: flex;
}
.group5{
    margin-left: 100px;
}
.grp3{
    font-size: 50px;
    margin-top: 350px;
}
.grp4{
    font-size: 20px;
    margin-top: 60px;
}
.link1{
    color: blue;
    margin-top: 40px;
}
.big{
    background-image: url(./svg/image1.png);
    width: 800px;
    height: 1080px;
    background-repeat: repeat;
    background-size: contain;
    margin-top: 150px;
    margin-left: 650px;
    background-size: cover;
}
.small{
    /* background-color: white; */
    border: 20px;
    border-color: blue;
}
.text17{
    font-size: 12px;
    color: gray;
}
.text18{
    margin-top: 20px;
}
.icon1{
    height: 20px;
    width: 25px;
    border: 20px;
    color: blue;
    background-color: aqua;
    justify-content: center;
    display: flex;
}
.textback1{
    background-color: rgba(77, 161, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
}
.text19{
    color: blue;
    font-size: 10px;
    border-radius: 10px;
}
.textback2{
    background-color: rgba(255, 208, 18, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
}
.text20{
    color:#FFD012;
    font-size: 10px;
    border-radius: 10px;
}
.icons{
    display: flex;
    gap: 5px;
    margin-top: 30px;
}
.text21{
    margin-left: 50px;
    font-size: 12px;
    color: gray;
}
.date  {
    background-image: url(./svg/icon.png);
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    width: 200px;
    height: 200px;
    right:12%;
    top:10%
}

.group6{
    position: relative;
}
.small{
    background-image: url(./svg/event1.png);
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    width: 380px;
    height: 220px;
    right:40%;
    top:30%
}
.notf{
    background-image: url(./svg/Group10.png);
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 70%;
    right: 45%
}
.background3{
    display: flex;
}
.big2{
    background-image: url(./svg/zurag2.png);
    background-size: cover;
    height: 755px;
    width: 705px;
}
.link2{
    color: blue;
}
.small2{
    background-image: url(./svg/event\ 2.png);
    background-size: cover;
    position: absolute;
    width:  280px;
    height: 140px;
    top: 230%;
    right:67%
}
.small3{
    background-image: url(./svg/event\ 3.png);
    background-size:  cover;
    position: absolute;
    width:  280px;
    height: 140px;
    margin-left: 500px;
    top: 250%;
    right:67%
}
.text17{
    background-image: url(./svg/background3TOMTEXT.png);
    background-size:  cover;
    position: absolute;
    height: 140px;
    width: 398px;
    margin-left:860px ;
    margin-top: 100px;
}
.text18{
    background-image: url(./svg/background3JIJEGTEXT.png);
    background-size:  cover;
    position: absolute;
    height: 120px;
    width: 420px;
    margin-left: 860px;
    margin-top:350px ;
}
.link2{
    margin-left: 860px;
    margin-top:490px ;
}