.cardImage{

    border-radius: 10px;
    border-color: white;
}
.text{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.text1{
    display: flex;
    font-family:fantasy;
    height: 20px;
    margin-bottom: 10px ;
}
.cardContainer{
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(161, 228, 220);
    color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 700px;
}
.comment{
  display: flex;
  border-radius: 40px;
  border-color: black;
}
.cmmntBttn{
  margin-right: 20px;
  border-radius: 10px;
  background-color: rgb(94, 92, 92);
  color: white;
}
.img{
  background: url(../icons8-email-send-48.png);
  background: no-repeat;
  height: 40px;
  width: 40px;
}
#comment-box, #post {
    border: none;
    border-radius: 5px;
}
.trash{
    width: 70px;
    height: 70px;
}
.post1{
    height: 40px;
    width: 160px;
    background-color: rgb(27, 27, 52);
    color: white;
    margin-left: 40px;
}
.garj{
    display: flex;
    flex-direction: column;
}
.task-container{
    display: flex;
}
